In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(database="builditgreen")

In [3]:
import pandas.io.sql as pdsql

In [5]:
projects_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_project', conn)

/Users/joshuahiggins/tiyd/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [12]:
projects_df=projects_df.rename(columns = {'id':'project_id'})

In [13]:
projects_df.head()

,project_id,is_confidential,name,street,city,zip_code,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
0,10000000,No,PNC Firstside Center,21 South Putt Corners Road,Pittsburgh,15219,US,LEED-NC 2.0,33,Silver,2000-10-01,Profit Org.,647000,202923,Commercial Office,2000-03-31,43
1,10000001,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC 2.0,NaN,,None,Confidential,291000,130637,Commercial Office,2000-06-01,20
2,10000002,No,Bethel Commercial Center,53 W. Jackson,Chicago,60604,US,LEED-NC 2.0,45,Gold,2007-11-05,Non-Profit Org.,22592,27500,Commercial Office,2001-08-01,1
3,10000003,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC 2.1,NaN,,None,Confidential,190000,NaN,,2006-09-19,56
4,10000004,No,The Chicago Center for Green Technology,445 N. Sacramento Avenue,Chicago,60612,US,LEED-NC 1.0 Pilot,38,Platinum,2003-06-17,Local Government,28356,130637,Industrial,2000-06-01,1

In [37]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/Users/joshuahiggins/tiyd/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [11]:
scores_2009_df['project_id']

0       1000000143
1       1000000174
2       1000000194
3       1000000199
4       1000000222
5       1000000224
6       1000000244
7       1000000262
8       1000000292
9       1000000301
10      1000000322
11      1000000353
12      1000000386
13      1000000387
14      1000000388
15      1000000394
16      1000000422
17      1000000451
18      1000000457
19      1000000477
20      1000000497
21      1000000507
22      1000000517
23      1000000558
24      1000000579
25      1000000651
26      1000000677
27      1000000680
28      1000000707
29      1000000708
           ...
2471    1000035785
2472    1000035828
2473    1000035960
2474    1000036206
2475    1000036464
2476    1000036689
2477    1000036763
2478    1000036775
2479    1000036901
2480    1000037001
2481    1000037022
2482    1000037031
2483    1000037095
2484    1000037306
2485    1000037316
2486    1000037537
2487    1000037617
2488    1000037911
2489    1000037921
2490    1000037954
2491    1000038189
2492    1000038285
2493    1000038452
2494    1000038887
2495    1000038888
2496    1000039133
2497    1000039584
2498    1000040528
2499    1000040797
2500    1000040800
Name: project_id, dtype: int64

In [14]:
merged_df_2009 = pd.merge(scores_2009_df,projects_df,on='project_id')

In [15]:
merged_df_2009.shape

(2501, 122)

In [18]:
merged_df_2009.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
0,1,1,5,0,6,0,0,2,0,1,...,LEED-NC v2009,44,Certified,2013-09-20,Government Use: State,86580,53863,Health Care: Outpatient,2009-05-07,12
1,2,0,0,0,6,1,0,0,0,1,...,LEED-NC v2009,65,Gold,2010-12-02,"Educational: University, Private",11806,66000,Core Learning Space: College/University,2009-05-10,20
2,3,1,5,0,0,1,3,2,0,0,...,LEED-NC v2009,44,Certified,2011-08-23,Corporate: Privately Held,3472,10905,Commercial Office,2009-05-12,41
3,4,1,0,0,0,1,3,0,0,1,...,LEED-NC v2009,51,Silver,2012-03-26,"Government Use: Local, City",48732,555823,Public Order and Safety: Other Public Order,2009-05-13,15
4,5,1,5,0,6,1,3,2,0,0,...,LEED-NC v2009,70,Gold,2014-01-17,"Educational: University, Public",212777,108563,Core Learning Space: College/University,2009-05-14,15

In [44]:
columns_list = list(merged_df_2009)

In [45]:
columns_list = [column for column in columns_list if 'possible' not in column]

In [46]:
columns_list.remove('id')

In [47]:
columns_list.remove('state_id_id')

In [48]:
columns_list

['ssc1',
 'ssc2',
 'ssc3',
 'ssc4_1',
 'ssc4_2',
 'ssc4_3',
 'ssc4_4',
 'ssc5_1',
 'ssc5_2',
 'ssc6_1',
 'ssc6_2',
 'ssc7_1',
 'ssc7_2',
 'ssc8',
 'wec1',
 'wec2',
 'wec3',
 'eac1',
 'eac2',
 'eac3',
 'eac4',
 'eac5',
 'eac6',
 'mrc1_1',
 'mrc1_2',
 'mrc2',
 'mrc3',
 'mrc4',
 'mrc5',
 'mrc6',
 'mrc7',
 'eqc1',
 'eqc2',
 'eqc3_1',
 'eqc3_2',
 'eqc4_1',
 'eqc4_2',
 'eqc4_3',
 'eqc4_4',
 'eqc5',
 'eqc6_1',
 'eqc6_2',
 'eqc7_1',
 'eqc7_2',
 'eqc8_1',
 'eqc8_2',
 'idc1',
 'idc2',
 'extra1',
 'extra2',
 'extra3',
 'extra4',
 'project_id',
 'is_confidential',
 'name',
 'street',
 'city',
 'zip_code',
 'country',
 'leed_version',
 'points_achieved',
 'certification_level',
 'certification_date',
 'owner_types',
 'gross_square_foot',
 'total_property_area',
 'project_types',
 'registration_date']

In [29]:
merged_df_2009_small=merged_df_2009[columns_list]

In [57]:
merged_df_2009_small=merged_df_2009_small.set_index('project_id')

In [70]:
merged_df_2009_small.to_pickle("2009_full_score_projects_final.pkl")

In [ ]:
scores_2_2_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_scoretwopointtwo', conn)

In [39]:
scores_2_2_df.shape

(3974, 112)

In [40]:
merged_df_2_2 = pd.merge(scores_2_2_df,projects_df,on='project_id')

In [41]:
merged_df_2_2.shape

(3974, 128)

In [49]:
columns_list_2_2 = list(merged_df_2_2)

In [50]:
columns_list_2_2

['id',
 'ssc1',
 'ssc2',
 'ssc3',
 'ssc4_1',
 'ssc4_2',
 'ssc4_3',
 'ssc4_4',
 'ssc5_1',
 'ssc5_2',
 'ssc6_1',
 'ssc6_2',
 'ssc7_1',
 'ssc7_2',
 'ssc8',
 'wec1_1',
 'wec1_2',
 'wec2',
 'wec3_1',
 'wec3_2',
 'eac1',
 'eac2',
 'eac3',
 'eac4',
 'eac5',
 'eac6',
 'mrc1_1',
 'mrc1_2',
 'mrc1_3',
 'mrc2_1',
 'mrc2_2',
 'mrc3_1',
 'mrc3_2',
 'mrc4_1',
 'mrc4_2',
 'mrc5_1',
 'mrc5_2',
 'mrc6',
 'mrc7',
 'eqc1',
 'eqc2',
 'eqc3_1',
 'eqc3_2',
 'eqc4_1',
 'eqc4_2',
 'eqc4_3',
 'eqc4_4',
 'eqc5',
 'eqc6_1',
 'eqc6_2',
 'eqc7_1',
 'eqc7_2',
 'eqc8_1',
 'eqc8_2',
 'idc1',
 'idc2',
 'project_id',
 'eac1_possible',
 'eac2_possible',
 'eac3_possible',
 'eac4_possible',
 'eac5_possible',
 'eac6_possible',
 'eqc1_possible',
 'eqc2_possible',
 'eqc3_1_possible',
 'eqc3_2_possible',
 'eqc4_1_possible',
 'eqc4_2_possible',
 'eqc4_3_possible',
 'eqc4_4_possible',
 'eqc5_possible',
 'eqc6_1_possible',
 'eqc6_2_possible',
 'eqc7_1_possible',
 'eqc7_2_possible',
 'eqc8_1_possible',
 'eqc8_2_possible',
 'idc1_possible',
 'idc2_possible',
 'mrc1_1_possible',
 'mrc1_2_possible',
 'mrc1_3_possible',
 'mrc2_1_possible',
 'mrc2_2_possible',
 'mrc3_1_possible',
 'mrc3_2_possible',
 'mrc4_1_possible',
 'mrc4_2_possible',
 'mrc5_1_possible',
 'mrc5_2_possible',
 'mrc6_possible',
 'mrc7_possible',
 'ssc1_possible',
 'ssc2_possible',
 'ssc3_possible',
 'ssc4_1_possible',
 'ssc4_2_possible',
 'ssc4_3_possible',
 'ssc4_4_possible',
 'ssc5_1_possible',
 'ssc5_2_possible',
 'ssc6_1_possible',
 'ssc6_2_possible',
 'ssc7_1_possible',
 'ssc7_2_possible',
 'ssc8_possible',
 'wec1_1_possible',
 'wec1_2_possible',
 'wec2_possible',
 'wec3_1_possible',
 'wec3_2_possible',
 'is_confidential',
 'name',
 'street',
 'city',
 'zip_code',
 'country',
 'leed_version',
 'points_achieved',
 'certification_level',
 'certification_date',
 'owner_types',
 'gross_square_foot',
 'total_property_area',
 'project_types',
 'registration_date',
 'state_id_id']

In [51]:
columns_list_2_2.remove('id')

In [52]:
columns_list_2_2.remove('state_id_id')

In [53]:
columns_list_2_2 = [column for column in columns_list_2_2 if 'possible' not in column]

In [54]:
columns_list_2_2

['ssc1',
 'ssc2',
 'ssc3',
 'ssc4_1',
 'ssc4_2',
 'ssc4_3',
 'ssc4_4',
 'ssc5_1',
 'ssc5_2',
 'ssc6_1',
 'ssc6_2',
 'ssc7_1',
 'ssc7_2',
 'ssc8',
 'wec1_1',
 'wec1_2',
 'wec2',
 'wec3_1',
 'wec3_2',
 'eac1',
 'eac2',
 'eac3',
 'eac4',
 'eac5',
 'eac6',
 'mrc1_1',
 'mrc1_2',
 'mrc1_3',
 'mrc2_1',
 'mrc2_2',
 'mrc3_1',
 'mrc3_2',
 'mrc4_1',
 'mrc4_2',
 'mrc5_1',
 'mrc5_2',
 'mrc6',
 'mrc7',
 'eqc1',
 'eqc2',
 'eqc3_1',
 'eqc3_2',
 'eqc4_1',
 'eqc4_2',
 'eqc4_3',
 'eqc4_4',
 'eqc5',
 'eqc6_1',
 'eqc6_2',
 'eqc7_1',
 'eqc7_2',
 'eqc8_1',
 'eqc8_2',
 'idc1',
 'idc2',
 'project_id',
 'is_confidential',
 'name',
 'street',
 'city',
 'zip_code',
 'country',
 'leed_version',
 'points_achieved',
 'certification_level',
 'certification_date',
 'owner_types',
 'gross_square_foot',
 'total_property_area',
 'project_types',
 'registration_date']

In [55]:
merged_df_2_2_small = merged_df_2_2[columns_list_2_2]

In [60]:
merged_df_2_2_small = merged_df_2_2_small.set_index("project_id")

In [66]:
merged_df_2_2_small.shape

(3974, 70)

In [67]:
merged_df_2009_small.shape

(2501, 67)

In [69]:
merged_df_2_2_small.to_pickle("2_2_full_score_projects_final.pkl")

In [71]:
merged_df_2_2_small.head()

,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,ssc6_1,...,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date
project_id,,,,,,,,,,,,,,,,,,,,,
10000385,1,0,0,0,1,1,1,1,1,1,...,US,LEED-NC 2.2,52,Platinum,2010-12-22,Non-Profit Org.,29496,1549749,Interpretive Center,2002-05-13
10000414,1,1,0,1,1,1,0,1,1,0,...,US,LEED-NC 2.2,40,Gold,2010-04-07,State Government,72543,114423,Commercial Office,2002-06-10
10000572,1,0,0,0,1,1,1,0,1,1,...,US,LEED-NC 2.2,40,Gold,2014-06-02,Federal Government,20166,846539,Interpretive Center,2002-11-11
10001269,1,0,0,0,1,0,1,0,0,1,...,US,LEED-NC 2.2,43,Gold,2010-08-26,Non-Profit Org.,6458,1388551,Other,2004-02-17
10001291,1,1,1,1,1,0,1,0,1,1,...,US,LEED-NC 2.2,55,Platinum,2010-08-30,Non-Profit Org.,190131,18175,Laboratory,2004-03-03

In [72]:
merged_df_2009_small["city"].value_counts()

Chicago                   35
Denver                    27
Houston                   23
San Diego                 22
Seattle                   21
Miami                     20
Philadelphia              20
Washington                20
Dallas                    19
San Francisco             19
Gainesville               18
Albuquerque               17
Cincinnati                17
Nashville                 17
Columbus                  16
Portland                  15
Jacksonville              15
Cleveland                 14
Indianapolis              14
Atlanta                   14
Charlottesville           13
Long Beach                13
Tampa                     12
San Antonio               12
Elon                      12
Austin                    12
Boston                    12
Salt Lake City            11
Madison                   11
Lexington                 11
                          ..
Oglesby                    1
Middlebury                 1
Churubusco                 1
Bridgeport                 1
Painted Post               1
Broadview Heights          1
Carrollton                 1
San Juan Bautista          1
Burleson                   1
Valley City                1
LaVista                    1
Truckee                    1
Bellingham                 1
Research Triangle Park     1
Grayslake                  1
Fort Lee                   1
Olympia                    1
West Tisbury               1
Pope Air Force Base        1
March ARB                  1
Surfside                   1
Loomis                     1
La Habra                   1
Bellemont                  1
Union                      1
International Falls        1
Dunedin                    1
Carlin                     1
Palmetto                   1
Descanso                   1
dtype: int64

In [73]:
 merged_df_2_2_small["city"].value_counts()

Chicago                  50
Houston                  46
San Diego                39
Seattle                  39
Portland                 32
Washington               29
Los Angeles              29
Atlanta                  26
Dallas                   25
San Francisco            23
Albuquerque              22
Columbus                 22
Denver                   21
Austin                   21
Fort Carson              21
San Antonio              20
MCB Camp Pendleton       19
Arlington                19
New York                 18
Raleigh                  18
Springfield              18
Baltimore                17
Salt Lake City           17
Orlando                  16
Gainesville              16
Cincinnati               15
Columbia                 15
Rochester                15
Las Vegas                15
Charlotte                15
                         ..
Gates                     1
Aston                     1
Wellman                   1
Staten Island             1
Galveston                 1
Cheyney                   1
North Scituate            1
Kingsville                1
Washington, D.C.          1
Bakersfiled               1
Pearl City                1
Rock Island               1
Vadnais Heights           1
St Petersburg             1
Sierra Vista              1
Chattanooga,              1
Healdsburg                1
Klamath Falls             1
Hailey                    1
Bellemont                 1
Bullhead City             1
SIDNEY                    1
DAVIDSON                  1
Nellis Air Force Base     1
GARRETTSVILLE             1
Redwood City              1
Botkins                   1
Worland                   1
West Haven                1
Livonia                   1
dtype: int64

In [75]:
sf_df_2009 = merged_df_2009_small[merged_df_2009_small["city"] == "San Francisco"]

In [80]:
sf_df_2009[['street', 'city', 'zip_code']]

                                         street           city zip_code
project_id
1000001946              50 United Nations Plaza  San Francisco    94102
1000002338           Piers 15 & 17, Embarcadero  San Francisco    94133
1000004730                       2270 Folsom St  San Francisco    94110
1000004731                      1199 East Beach  San Francisco    94129
1000005088               525 Golden Gate Avenue  San Francisco    94102
1000005325                     926 Mason Street  San Francisco    94129
1000005936                       451 Galvez Ave  San Francisco    94124
1000007176                 3800 Geary Boulevard  San Francisco    94118
1000009106               121 Golden Gate Avenue  San Francisco    94102
1000013608                   185 Channel Street  San Francisco    94107
1000016258          Building 1056 N Access Road  San Francisco    94128
1000017709                   1101 Fourth Street  San Francisco    94158
1000019127                       155 5th Street  San Francisco    94103
1000019323                  680 Point Lobos Ave  San Francisco    94121
1000022385                   1844 Market Street  San Francisco    94102
1000025243                  401 Harrison Street  San Francisco    94107
1000026089  San Francisco International Airport  San Francisco    94128
1000027010                     611 Front Street  San Francisco    94111
1000032436                      1939 Market St.  San Francisco    94107