In [1]:
import pandas as pd
import psycopg2

In [4]:
conn = psycopg2.connect(database="builditgreen")

In [5]:
import pandas.io.sql as pdsql

In [9]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/usr/local/lib/python3.4/site-packages/pandas/io/sql.py:1632: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [10]:
scores_2009_df.shape

(2501, 106)

In [11]:
scores_2009_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,ssc5_1_possible,ssc5_2_possible,ssc6_1_possible,ssc6_2_possible,ssc7_1_possible,ssc7_2_possible,ssc8_possible,wec1_possible,wec2_possible,wec3_possible
0,1,1,5,0,6,0,0,2,0,1,...,1,1,1,1,1,1,1,4,2,4
1,2,0,0,0,6,1,0,0,0,1,...,1,1,1,1,1,1,1,4,2,4
2,3,1,5,0,0,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4
3,4,1,0,0,0,1,3,0,0,1,...,1,1,1,1,1,1,1,4,2,4
4,5,1,5,0,6,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4

In [12]:
scores_2_2_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_scoretwopointtwo', conn)

/usr/local/lib/python3.4/site-packages/pandas/io/sql.py:1632: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [14]:
scores_2_2_df.shape

(3974, 112)

In [16]:
scores_2_2_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,ssc6_1_possible,ssc6_2_possible,ssc7_1_possible,ssc7_2_possible,ssc8_possible,wec1_1_possible,wec1_2_possible,wec2_possible,wec3_1_possible,wec3_2_possible
0,1,1,0,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,2,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
2,3,1,0,0,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
3,4,1,0,0,0,1,0,1,0,0,...,1,1,1,1,1,1,1,1,1,1
4,5,1,1,1,1,1,0,1,0,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
scores_2_1_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_scoretwopointone', conn)

/usr/local/lib/python3.4/site-packages/pandas/io/sql.py:1632: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [19]:
scores_2_1_df.shape

(678, 116)

In [22]:
scores_2_1_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,ssc6_1_possible,ssc6_2_possible,ssc7_1_possible,ssc7_2_possible,ssc8_possible,wec1_1_possible,wec1_2_possible,wec2_possible,wec3_1_possible,wec3_2_possible
0,4,1,0,0,0,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,5,1,1,0,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
2,6,1,1,0,1,0,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
3,7,1,0,0,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
4,8,1,0,0,1,1,0,1,0,1,...,1,1,1,1,1,1,1,1,1,1

In [23]:
scores_2_2_df['project_id']

0       10000385
1       10000414
2       10000572
3       10001269
4       10001291
5       10001351
6       10001444
7       10001571
8       10001645
9       10001701
10      10001735
11      10001761
12      10001805
13      10001964
14      10002066
15      10002083
16      10002106
17      10002188
18      10002205
19      10002238
20      10002343
21      10002427
22      10002442
23      10002478
24      10002492
25      10002521
26      10002522
27      10002550
28      10002592
29      10002656
          ...
3944    10528373
3945    10528427
3946    10528458
3947    10528634
3948    10528690
3949    10528754
3950    10528776
3951    10529145
3952    10529531
3953    10534781
3954    10552746
3955    10559328
3956    10559332
3957    10565603
3958    10565611
3959    10566744
3960    10578884
3961    10578922
3962    10578927
3963    10598335
3964    10609155
3965    10630469
3966    10630542
3967    10630549
3968    10630553
3969    10645010
3970    10645012
3971    10700353
3972    10700388
3973    10706685
Name: project_id, dtype: int64

In [24]:
scores_2009_df.to_pickle("scores_2009.pkl")

In [25]:
scores_2_2_df.to_pickle("scores_2_2.pkl")

In [26]:
scores_2_1_df.to_pickle("scores_2_1.pkl")