In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(database="builditgreen")

In [3]:
import pandas.io.sql as pdsql

In [5]:
projects_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_project', conn)

/Users/joshuahiggins/tiyd/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [12]:
projects_df=projects_df.rename(columns = {'id':'project_id'})

In [13]:
projects_df.head()

,project_id,is_confidential,name,street,city,zip_code,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
0,10000000,No,PNC Firstside Center,21 South Putt Corners Road,Pittsburgh,15219,US,LEED-NC 2.0,33,Silver,2000-10-01,Profit Org.,647000,202923,Commercial Office,2000-03-31,43
1,10000001,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC 2.0,NaN,,None,Confidential,291000,130637,Commercial Office,2000-06-01,20
2,10000002,No,Bethel Commercial Center,53 W. Jackson,Chicago,60604,US,LEED-NC 2.0,45,Gold,2007-11-05,Non-Profit Org.,22592,27500,Commercial Office,2001-08-01,1
3,10000003,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC 2.1,NaN,,None,Confidential,190000,NaN,,2006-09-19,56
4,10000004,No,The Chicago Center for Green Technology,445 N. Sacramento Avenue,Chicago,60612,US,LEED-NC 1.0 Pilot,38,Platinum,2003-06-17,Local Government,28356,130637,Industrial,2000-06-01,1

In [8]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/Users/joshuahiggins/tiyd/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [11]:
scores_2009_df['project_id']

0       1000000143
1       1000000174
2       1000000194
3       1000000199
4       1000000222
5       1000000224
6       1000000244
7       1000000262
8       1000000292
9       1000000301
10      1000000322
11      1000000353
12      1000000386
13      1000000387
14      1000000388
15      1000000394
16      1000000422
17      1000000451
18      1000000457
19      1000000477
20      1000000497
21      1000000507
22      1000000517
23      1000000558
24      1000000579
25      1000000651
26      1000000677
27      1000000680
28      1000000707
29      1000000708
           ...
2471    1000035785
2472    1000035828
2473    1000035960
2474    1000036206
2475    1000036464
2476    1000036689
2477    1000036763
2478    1000036775
2479    1000036901
2480    1000037001
2481    1000037022
2482    1000037031
2483    1000037095
2484    1000037306
2485    1000037316
2486    1000037537
2487    1000037617
2488    1000037911
2489    1000037921
2490    1000037954
2491    1000038189
2492    1000038285
2493    1000038452
2494    1000038887
2495    1000038888
2496    1000039133
2497    1000039584
2498    1000040528
2499    1000040797
2500    1000040800
Name: project_id, dtype: int64

In [14]:
merged_df_2009 = pd.merge(scores_2009_df,projects_df,on='project_id')

In [15]:
merged_df_2009.shape

(2501, 122)

In [18]:
merged_df_2009.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
0,1,1,5,0,6,0,0,2,0,1,...,LEED-NC v2009,44,Certified,2013-09-20,Government Use: State,86580,53863,Health Care: Outpatient,2009-05-07,12
1,2,0,0,0,6,1,0,0,0,1,...,LEED-NC v2009,65,Gold,2010-12-02,"Educational: University, Private",11806,66000,Core Learning Space: College/University,2009-05-10,20
2,3,1,5,0,0,1,3,2,0,0,...,LEED-NC v2009,44,Certified,2011-08-23,Corporate: Privately Held,3472,10905,Commercial Office,2009-05-12,41
3,4,1,0,0,0,1,3,0,0,1,...,LEED-NC v2009,51,Silver,2012-03-26,"Government Use: Local, City",48732,555823,Public Order and Safety: Other Public Order,2009-05-13,15
4,5,1,5,0,6,1,3,2,0,0,...,LEED-NC v2009,70,Gold,2014-01-17,"Educational: University, Public",212777,108563,Core Learning Space: College/University,2009-05-14,15

In [21]:
columns_list = list(merged_df_2009)

In [23]:
columns_list = [column for column in columns_list if 'possible' not in column]

In [25]:
columns_list.remove('id')

In [27]:
columns_list.remove('state_id_id')

In [28]:
columns_list

['ssc1',
 'ssc2',
 'ssc3',
 'ssc4_1',
 'ssc4_2',
 'ssc4_3',
 'ssc4_4',
 'ssc5_1',
 'ssc5_2',
 'ssc6_1',
 'ssc6_2',
 'ssc7_1',
 'ssc7_2',
 'ssc8',
 'wec1',
 'wec2',
 'wec3',
 'eac1',
 'eac2',
 'eac3',
 'eac4',
 'eac5',
 'eac6',
 'mrc1_1',
 'mrc1_2',
 'mrc2',
 'mrc3',
 'mrc4',
 'mrc5',
 'mrc6',
 'mrc7',
 'eqc1',
 'eqc2',
 'eqc3_1',
 'eqc3_2',
 'eqc4_1',
 'eqc4_2',
 'eqc4_3',
 'eqc4_4',
 'eqc5',
 'eqc6_1',
 'eqc6_2',
 'eqc7_1',
 'eqc7_2',
 'eqc8_1',
 'eqc8_2',
 'idc1',
 'idc2',
 'extra1',
 'extra2',
 'extra3',
 'extra4',
 'project_id',
 'is_confidential',
 'name',
 'street',
 'city',
 'zip_code',
 'country',
 'leed_version',
 'points_achieved',
 'certification_level',
 'certification_date',
 'owner_types',
 'gross_square_foot',
 'total_property_area',
 'project_types',
 'registration_date']