In [1]:
import pandas as pd
import psycopg2

In [4]:
conn = psycopg2.connect(database="builditgreen")

In [5]:
import pandas.io.sql as pdsql

In [9]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/usr/local/lib/python3.4/site-packages/pandas/io/sql.py:1632: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [10]:
scores_2009_df.shape

(2501, 106)

In [8]:
the_frame.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,ssc5_1_possible,ssc5_2_possible,ssc6_1_possible,ssc6_2_possible,ssc7_1_possible,ssc7_2_possible,ssc8_possible,wec1_possible,wec2_possible,wec3_possible
0,1,1,5,0,6,0,0,2,0,1,...,1,1,1,1,1,1,1,4,2,4
1,2,0,0,0,6,1,0,0,0,1,...,1,1,1,1,1,1,1,4,2,4
2,3,1,5,0,0,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4
3,4,1,0,0,0,1,3,0,0,1,...,1,1,1,1,1,1,1,4,2,4
4,5,1,5,0,6,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4