In [1]:
#This notebook is looking at who achieves credit WEc2

In [2]:
import pandas as pd
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import psycopg2
import pandas.io.sql as pdsql

In [3]:
public_data = pd.read_csv('all_projects_dataframe.csv')

/Users/trippshealy/iron_yard/week10/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
public_data.head()

,ID,Isconfidential,ProjectName,Street,City,State,Zipcode,Country,LEEDSystemVersionDisplayName,PointsAchieved,CertLevel,CertDate,IsCertified,OwnerTypes,GrossSqFoot,TotalPropArea,ProjectTypes,OwnerOrganization,RegistrationDate
0,10000000,No,PNC Firstside Center,21 South Putt Corners Road,Pittsburgh,PA,15219,US,LEED-NC 2.0,33,Silver,10/1/00 0:00,Yes,Profit Org.,647000,202923,Commercial Office,L.D. Astorino Companies,3/31/00 0:00
1,10000001,Yes,Confidential,Confidential,Confidential,IN,Confidential,US,LEED-NC 2.0,NaN,NaN,NaN,No,Confidential,291000,130637,Commercial Office,Confidential,6/1/00 0:00
2,10000002,No,Bethel Commercial Center,53 W. Jackson,Chicago,IL,60604,US,LEED-NC 2.0,45,Gold,11/5/07 0:00,Yes,Non-Profit Org.,22592,27500,"Commercial Office, Restaurant, Retail, Daycare...",Bethel New Life,8/1/01 0:00
3,10000003,Yes,Confidential,Confidential,Confidential,NY,Confidential,US,LEED-NC 2.1,NaN,NaN,NaN,No,Confidential,190000,NaN,NaN,Confidential,9/19/06 0:00
4,10000004,No,The Chicago Center for Green Technology,445 N. Sacramento Avenue,Chicago,IL,60612,US,LEED-NC 1.0 Pilot,38,Platinum,6/17/03 0:00,Yes,Local Government,28356,130637,"Industrial, Commercial Office",City of Chicago Department of the Enviro,6/1/00 0:00

In [5]:
conn = psycopg2.connect(database="builditgreen")

In [6]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/Users/trippshealy/iron_yard/week10/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [7]:
scores_2009_df.project_id[5]

1000000224

In [8]:
scores_2009_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,ssc5_1_possible,ssc5_2_possible,ssc6_1_possible,ssc6_2_possible,ssc7_1_possible,ssc7_2_possible,ssc8_possible,wec1_possible,wec2_possible,wec3_possible
0,1,1,5,0,6,0,0,2,0,1,...,1,1,1,1,1,1,1,4,2,4
1,2,0,0,0,6,1,0,0,0,1,...,1,1,1,1,1,1,1,4,2,4
2,3,1,5,0,0,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4
3,4,1,0,0,0,1,3,0,0,1,...,1,1,1,1,1,1,1,4,2,4
4,5,1,5,0,6,1,3,2,0,0,...,1,1,1,1,1,1,1,4,2,4

In [9]:
scores_2009_df.rename(columns={'project_id':'ID'}, inplace=True)

In [10]:
scores_2009_df['ID'].head()

0    1000000143
1    1000000174
2    1000000194
3    1000000199
4    1000000222
Name: ID, dtype: int64

In [11]:
public_data.ID[:5]

0    10000000
1    10000001
2    10000002
3    10000003
4    10000004
Name: ID, dtype: int64

In [12]:
# leed_2009_w_credits = pd.merge(public_data, scores_2009_df, on='ID')
# leed_2009_w_credits = scores_2009_df.join(public_data, on='ID')
leed_2009_w_credits = pd.merge(public_data, scores_2009_df, on='ID', how='right')

In [13]:
leed_2009_w_credits.shape

(2501, 124)

In [14]:
leed_2009_w_credits.columns[-52:]

Index(['eac1_possible', 'eac2_possible', 'eac3_possible', 'eac4_possible',
       'eac5_possible', 'eac6_possible', 'eqc1_possible', 'eqc2_possible',
       'eqc3_1_possible', 'eqc3_2_possible', 'eqc4_1_possible',
       'eqc4_2_possible', 'eqc4_3_possible', 'eqc4_4_possible',
       'eqc5_possible', 'eqc6_1_possible', 'eqc6_2_possible',
       'eqc7_1_possible', 'eqc7_2_possible', 'eqc8_1_possible',
       'eqc8_2_possible', 'extra1_possible', 'extra2_possible',
       'extra3_possible', 'extra4_possible', 'idc1_possible', 'idc2_possible',
       'mrc1_1_possible', 'mrc1_2_possible', 'mrc2_possible', 'mrc3_possible',
       'mrc4_possible', 'mrc5_possible', 'mrc6_possible', 'mrc7_possible',
       'ssc1_possible', 'ssc2_possible', 'ssc3_possible', 'ssc4_1_possible',
       'ssc4_2_possible', 'ssc4_3_possible', 'ssc4_4_possible',
       'ssc5_1_possible', 'ssc5_2_possible', 'ssc6_1_possible',
       'ssc6_2_possible', 'ssc7_1_possible', 'ssc7_2_possible',
       'ssc8_possible', 'wec1_possible', 'wec2_possible', 'wec3_possible'],
      dtype='object')

In [21]:
meet_wec2 = leed_2009_w_credits[(leed_2009_w_credits['wec2'] > 0) & (leed_2009_w_credits['Country'] == 'US')]

In [22]:
meet_wec2.shape

(223, 124)

In [23]:
meet_wec2 = meet_wec2.iloc[:,:72]

In [24]:
meet_wec2.shape

(223, 72)

In [25]:
meet_wec2.columns

Index(['ID', 'Isconfidential', 'ProjectName', 'Street', 'City', 'State',
       'Zipcode', 'Country', 'LEEDSystemVersionDisplayName', 'PointsAchieved',
       'CertLevel', 'CertDate', 'IsCertified', 'OwnerTypes', 'GrossSqFoot',
       'TotalPropArea', 'ProjectTypes', 'OwnerOrganization',
       'RegistrationDate', 'id', 'ssc1', 'ssc2', 'ssc3', 'ssc4_1', 'ssc4_2',
       'ssc4_3', 'ssc4_4', 'ssc5_1', 'ssc5_2', 'ssc6_1', 'ssc6_2', 'ssc7_1',
       'ssc7_2', 'ssc8', 'wec1', 'wec2', 'wec3', 'eac1', 'eac2', 'eac3',
       'eac4', 'eac5', 'eac6', 'mrc1_1', 'mrc1_2', 'mrc2', 'mrc3', 'mrc4',
       'mrc5', 'mrc6', 'mrc7', 'eqc1', 'eqc2', 'eqc3_1', 'eqc3_2', 'eqc4_1',
       'eqc4_2', 'eqc4_3', 'eqc4_4', 'eqc5', 'eqc6_1', 'eqc6_2', 'eqc7_1',
       'eqc7_2', 'eqc8_1', 'eqc8_2', 'idc1', 'idc2', 'extra1', 'extra2',
       'extra3', 'extra4'],
      dtype='object')

In [27]:
wec2_by_state = meet_wec2.groupby('State').count()
wec2_by_state

,ID,Isconfidential,ProjectName,Street,City,Zipcode,Country,LEEDSystemVersionDisplayName,PointsAchieved,CertLevel,...,eqc7_1,eqc7_2,eqc8_1,eqc8_2,idc1,idc2,extra1,extra2,extra3,extra4
State,,,,,,,,,,,,,,,,,,,,,
AK,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
AL,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
AR,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
AZ,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,6
CA,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
CO,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
CT,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
DC,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,2
DE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
FL,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,39
GA,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
GU,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
IA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
IL,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,6,6
IN,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,2
KS,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
KY,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,1,1
LA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
MA,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
MD,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ME,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
MI,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
MN,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
MO,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
MT,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NC,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
NE,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NH,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NJ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,1
NM,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,0,0
NV,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
NY,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
OH,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,3
OR,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,9,7
PA,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,6,5
PR,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
RI,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,0,0,0
SC,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
SD,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
TN,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
TX,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,10,8
UT,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,2
VA,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
VI,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
VT,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
WA,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,9,9
WY,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [10]:
meet_wec2_mean = meet_wec2.mean()