In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(database="builditgreen")

In [3]:
import pandas.io.sql as pdsql

In [4]:
scores_2009_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_score2009', conn)

/Users/trippshealy/iron_yard/week10/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [5]:
scores_2009_df.shape

(2501, 54)

In [6]:
scores_2009_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,eqc7_2,eqc8_1,eqc8_2,idc1,idc2,extra1,extra2,extra3,extra4,project_id
0,1,1,5,0,6,0,0,2,0,1,...,1,1,0,1,1,0,NaN,NaN,NaN,1000000143
1,2,0,0,0,6,1,0,0,0,1,...,1,0,1,3,1,1,0,1,0,1000000174
2,3,1,5,0,0,1,3,2,0,0,...,0,0,1,1,1,0,1,1,0,1000000194
3,4,1,0,0,0,1,3,0,0,1,...,0,0,1,2,1,1,0,0,0,1000000199
4,5,1,5,0,6,1,3,2,0,0,...,1,0,0,2,1,0,1,0,0,1000000222

In [7]:
scores_2009_df.head()

,id,ssc1,ssc2,ssc3,ssc4_1,ssc4_2,ssc4_3,ssc4_4,ssc5_1,ssc5_2,...,eqc7_2,eqc8_1,eqc8_2,idc1,idc2,extra1,extra2,extra3,extra4,project_id
0,1,1,5,0,6,0,0,2,0,1,...,1,1,0,1,1,0,NaN,NaN,NaN,1000000143
1,2,0,0,0,6,1,0,0,0,1,...,1,0,1,3,1,1,0,1,0,1000000174
2,3,1,5,0,0,1,3,2,0,0,...,0,0,1,1,1,0,1,1,0,1000000194
3,4,1,0,0,0,1,3,0,0,1,...,0,0,1,2,1,1,0,0,0,1000000199
4,5,1,5,0,6,1,3,2,0,0,...,1,0,0,2,1,0,1,0,0,1000000222

In [8]:
scores_2009_df.project_id.head()

0    1000000143
1    1000000174
2    1000000194
3    1000000199
4    1000000222
Name: project_id, dtype: int64

In [9]:
project_df = pdsql.read_frame("SELECT * FROM %s;" % 'api_project', conn)

/Users/trippshealy/iron_yard/week10/builditgreen/.direnv/python-3.4.3/lib/python3.4/site-packages/pandas/io/sql.py:1630: FutureWarning: read_frame is deprecated, use read_sql
  warnings.warn("read_frame is deprecated, use read_sql", FutureWarning)

In [10]:
project_df.shape

(83646, 17)

In [11]:
project_df.tail()

,id,is_confidential,name,street,city,zip_code,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
83641,1000058308,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED v4 BD+C: NC,NaN,,None,Confidential,502910,NaN,Office: Mixed-Use,2015-06-02,30
83642,1000058310,No,180 Montgomery - Recertification,180 Montgomery Street,San Francisco,94104,US,LEED-EB:OM v2009,NaN,,None,Investor: Equity Fund,329913,NaN,Office: Administrative/Professional,2015-06-02,30
83643,1000058311,No,FAS MCZ HEB 5th Floor Office Suite,26 Oxford Street,Cambridge,2138,US,LEED-CI v2009,NaN,,None,"Educational: University, Private",10750,NaN,Core Learning Space: College/University,2015-06-02,33
83644,1000058312,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-CI v2009,NaN,,None,Confidential,9000,NaN,Retail: Other Retail,2015-06-02,15
83645,1000058313,No,Young Woman's College Preparatory Academ,1906 Cleburne Street,Houston,77004,US,LEED FOR SCHOOLS v2009,NaN,,None,"Educational: K-12 School, Public",50000,NaN,Core Learning Space: K-12 High School,2015-06-02,15

In [12]:
project_2009 = project_df[project_df.leed_version == 'LEED-NC v2009']

In [13]:
project_2009.shape

(12508, 17)

In [14]:
project_2009.head()

,id,is_confidential,name,street,city,zip_code,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
49123,1000036282,No,Building E,04 N. High St,Columbus,43210,US,LEED-NC v2009,NaN,,None,,86600,0,Lodging: Dormitory,2013-10-16,17
49132,1000000049,No,Lorax Partnerships Corporate Headquarter,8924 bGreen Blade Lane,Columbia,21045,US,LEED-NC v2009,NaN,,None,Corporate: Privately Held,55000,NaN,Office: Mixed-Use,2009-04-27,6
49133,1000000061,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC v2009,42,Certified,2013-04-04,Confidential,20128,34086,Core Learning Space: College/University,2009-04-27,41
49134,1000000077,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC v2009,NaN,,None,Confidential,120000,NaN,Health Care: Nursing Home/ Assisted Living,2009-04-28,30
49136,1000000084,Yes,Confidential,Confidential,Confidential,Confidential,US,LEED-NC v2009,NaN,,None,Confidential,7300,NaN,Multi-Family Residential: Condominium,2009-04-28,30

In [15]:
project_2009_complete = project_2009[project_2009['id'].isin(scores_2009_df.project_id)]

In [16]:
project_2009_complete.shape

(2501, 17)

In [17]:
project_2009_complete = project_2009_complete.rename(columns={'id':'project_id'})

In [18]:
project_2009_complete.head()

,project_id,is_confidential,name,street,city,zip_code,country,leed_version,points_achieved,certification_level,certification_date,owner_types,gross_square_foot,total_property_area,project_types,registration_date,state_id_id
49154,1000000143,No,Mary Bird Perkins Cancer Center at TGMC,8166 Main St,Houma,70360,US,LEED-NC v2009,44,Certified,2013-09-20,Government Use: State,86580,53863,Health Care: Outpatient,2009-05-07,12
49164,1000000387,No,Farmington 14 Meetinghouse,550 South 1525 West,Farmington,84025,US,LEED-NC v2009,54,Silver,2011-08-12,Religious,21043,159983,Community Dev.,2009-06-01,46
49175,1000000174,No,Indiana Tech Seitz Center Renovation,1600 East Washington Boulevard,Fort Wayne,46803,US,LEED-NC v2009,65,Gold,2010-12-02,"Educational: University, Private",11806,66000,Core Learning Space: College/University,2009-05-10,20
49187,1000000194,No,Kyra InfoTech,4454 Florida National Drive,Lakeland,33813,US,LEED-NC v2009,44,Certified,2011-08-23,Corporate: Privately Held,3472,10905,Commercial Office,2009-05-12,41
49190,1000000199,No,Public Safety Training Facility,4800 Shaw Lane,Austin,78744,US,LEED-NC v2009,51,Silver,2012-03-26,"Government Use: Local, City",48732,555823,Public Order and Safety: Other Public Order,2009-05-13,15

In [19]:
projects_2009_joined = pd.merge(project_2009_complete, scores_2009_df, on='project_id')

In [22]:
projects_2009_joined.shape

(2501, 70)

In [24]:
import pickle

In [28]:
projects_2009_joined.to_pickle('projects_2009_joined.pkl')