In [1]:
import plotly.plotly as py
from plotly.graph_objs import *

In [9]:
trace0 = Scatter(
    x=[1, 2, 3, 4],
    y=[10, 15, 13, 17],
    fill='tozeroy',
)
trace1 = Scatter(
    x=[1, 2, 3, 4],
    y=[16, 5, 11, 9],
    fill='tonexty',
)
data = Data([trace0, trace1])

py.iplot(data, filename = 'basic-area')

In [10]:
import plotly.plotly as py
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv')
df.head()

df['text'] = df['name'] + '<br>Population ' + (df['pop']/1e6).astype(str)+' million'
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","rgb(255,220,0)"]
cities = []
scale = 50000

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    city = dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        sizemode = 'diameter',
        marker = dict( 
            size = df_sub['pop']/scale, 
            color = colors[i],
            line = dict(width = 2,color = 'black')
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    cities.append(city)

layout = dict(
        title = '2014 US city populations<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',       
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"           
        ),  
    )
    
fig = dict( data=cities, layout=layout )
py.iplot( fig, validate=False, filename='d3-bubble-map-populations' )

In [68]:
df.head(300)

,pop,lat,lon,text
name,,,,
New York,8287238,40.730599,-73.986581,New York <br>Population 8.287238 million
Los Angeles,3826423,34.053717,-118.242727,Los Angeles <br>Population 3.826423 million
Chicago,2705627,41.875555,-87.624421,Chicago <br>Population 2.705627 million
Houston,2129784,29.758938,-95.367697,Houston <br>Population 2.129784 million
Philadelphia,1539313,39.952335,-75.163789,Philadelphia <br>Population 1.539313 million
Phoenix,1465114,33.446768,-112.075672,Phoenix <br>Population 1.465114 million
San Antonio,1359174,29.424600,-98.495141,San Antonio <br>Population 1.359174 million
San Diego,1321016,32.717421,-117.162771,San Diego <br>Population 1.321016 million
Dallas,1219399,32.776196,-96.796899,Dallas <br>Population 1.219399 million
San Jose,971495,37.343850,-121.883135,San Jose <br>Population 0.971495 million
Austin,839714,30.271129,-97.743700,Austin <br>Population 0.839714 million
Jacksonville,829543,30.332184,-81.655651,Jacksonville <br>Population 0.829543 million
Indianapolis,827346,39.768333,-86.158350,Indianapolis <br>Population 0.827346 million
San Francisco,816239,37.779277,-122.419270,San Francisco <br>Population 0.816239 million
Columbus,799270,39.962260,-83.000706,Columbus <br>Population 0.79927 million
Fort Worth,761895,32.753177,-97.332746,Fort Worth <br>Population 0.761895 million
Charlotte,756204,35.227087,-80.843127,Charlotte <br>Population 0.756204 million
Detroit,702149,42.348664,-83.056737,Detroit <br>Population 0.702149 million
El Paso,665503,31.811131,-106.501349,El Paso <br>Population 0.665503 million
Memphis,655975,35.149022,-90.051629,Memphis <br>Population 0.655975 million
Boston,630645,42.360482,-71.059568,Boston <br>Population 0.630645 million
Seattle,622175,47.603832,-122.330062,Seattle <br>Population 0.622175 million
Baltimore,620889,39.290861,-76.610807,Baltimore <br>Population 0.620889 million
Washington,620427,38.894955,-77.036646,Washington <br>Population 0.620427 million
Denver,619390,39.739154,-104.984703,Denver <br>Population 0.61939 million
Nashville-Davidson,612243,36.187025,-86.780862,Nashville-Davidson <br>Population 0.612243 m...
Louisville/Jefferson County,601709,38.209237,-85.703850,Louisville/Jefferson County <br>Population 0...
Milwaukee,597435,43.034993,-87.922497,Milwaukee <br>Population 0.597435 million
Portland,593859,45.520247,-122.674195,Portland <br>Population 0.593859 million
Oklahoma City,589896,35.472989,-97.517054,Oklahoma City <br>Population 0.589896 million
...,...,...,...,...
Dearborn,97326,42.322260,-83.176315,Dearborn <br>Population 0.097326 million
Sandy Springs,97011,33.924269,-84.378538,Sandy Springs <br>Population 0.097011 million
Roanoke,96810,37.270973,-79.941431,Roanoke <br>Population 0.09681 million
Jurupa Valley,96460,33.979847,-117.451575,Jurupa Valley <br>Population 0.09646 million
Livonia,96315,42.368370,-83.352710,Livonia <br>Population 0.096315 million
College Station,95703,30.626262,-96.334725,College Station <br>Population 0.095703 million
Vista,95168,33.200037,-117.242536,Vista <br>Population 0.095168 million
South Gate,95079,33.946346,-118.200981,South Gate <br>Population 0.095079 million
New Bedford,94798,41.636215,-70.934205,New Bedford <br>Population 0.094798 million
San Angelo,94651,31.431992,-100.454580,San Angelo <br>Population 0.094651 million
Greeley,94318,40.423314,-104.709132,Greeley <br>Population 0.094318 million
Davie,94283,26.075729,-80.284109,Davie <br>Population 0.094283 million
Mission Viejo,94209,33.596568,-117.659405,Mission Viejo <br>Population 0.094209 million
Yuma,94174,32.665167,-114.475905,Yuma <br>Population 0.094174 million
Brockton,94147,42.083434,-71.018379,Brockton <br>Population 0.094147 million
Hillsboro,94095,45.522894,-122.989827,Hillsboro <br>Population 0.094095 million
Renton,94030,47.479908,-122.203450,Renton <br>Population 0.09403 million
Vacaville,93356,38.376044,-121.995470,Vacaville <br>Population 0.093356 million
Pearland,93252,29.563976,-95.286430,Pearland <br>Population 0.093252 million
Yakima,92787,46.601557,-120.510842,Yakima <br>Population 0.092787 million
Quincy,92551,39.935602,-91.409873,Quincy <br>Population 0.092551 million
Carson,91940,33.832204,-118.251755,Carson <br>Population 0.09194 million
Lee's Summit,91920,38.910841,-94.382172,Lee's Summit <br>Population 0.09192 million
Tuscaloosa,91739,33.266840,-87.486218,Tuscaloosa <br>Population 0.091739 million
Hesperia,91418,34.426389,-117.300878,Hesperia <br>Population 0.091418 million
Beaverton,91406,45.487172,-122.803780,Beaverton <br>Population 0.091406 million
Roswell,91196,33.394266,-104.523024,Roswell <br>Population 0.091196 million
Sparks,91010,39.534843,-119.752768,Sparks <br>Population 0.09101 million
Lynn,90778,42.466763,-70.949494,Lynn <br>Population 0.090778 million
Santa Monica,90749,34.019560,-118.486974,Santa Monica <br>Population 0.090749 million

In [37]:
leed_data = pd.read_csv('PublicLEEDProjectDirectory.csv', encoding="ISO-8859-1", header=3, low_memory=False)

In [40]:
city_data = leed_data['City'].value_counts()

In [72]:
small_city_data = city_data[:300]

In [73]:
small_long_data = df[:300]

In [80]:
small_city_data = small_city_data.to_frame()

In [76]:
small_long_data=small_long_data.reset_index()

In [81]:
small_city_data.columns = ['name']

In [84]:
small_city_data = small_city_data.reset_index()

In [85]:
small_city_data.columns = ['name', "number of projects"]

In [83]:
small_long_data.head()

,name,pop,lat,lon,text
0,New York,8287238,40.730599,-73.986581,New York <br>Population 8.287238 million
1,Los Angeles,3826423,34.053717,-118.242727,Los Angeles <br>Population 3.826423 million
2,Chicago,2705627,41.875555,-87.624421,Chicago <br>Population 2.705627 million
3,Houston,2129784,29.758938,-95.367697,Houston <br>Population 2.129784 million
4,Philadelphia,1539313,39.952335,-75.163789,Philadelphia <br>Population 1.539313 million

In [87]:
small_city_data.head()

           name  number of projects
0  Confidential               23503
1    Washington                1537
2        Dallas                 945
3       Houston                 879
4       Chicago                 865

In [93]:
small_city_data.merge(small_long_data, on = 'name')

Empty DataFrame
Columns: [name, number of projects, pop, lat, lon, text]
Index: []

In [98]:
small_city_data[small_city_data['name'] == "Dallas"]

     name  number of projects
2  Dallas                 945

In [101]:
small_long_data[small_long_data['name'] == "Chicago "]

,name,pop,lat,lon,text
2,Chicago,2705627,41.875555,-87.624421,Chicago <br>Population 2.705627 million

In [102]:
small_city_data['new_name'] = small_city_data['name'].map(lambda x: x +" ")

In [104]:
small_city_data[small_city_data['new_name'] == "Chicago "]

      name  number of projects  new_name
4  Chicago                 865  Chicago

In [105]:
small_city_data = small_city_data[['number of projects', 'new_name']]

In [107]:
small_city_data.columns = ['number of projects', 'name']

In [110]:
df = small_long_data.merge(small_city_data, on='name')

In [123]:
df = df.sort(['number of projects'], ascending=False)

In [124]:
df.head()

,name,pop,lat,lon,text,number of projects
23,Washington,620427,38.894955,-77.036646,Washington <br>Number of Projects 1537,1537
8,Dallas,1219399,32.776196,-96.796899,Dallas <br>Number of Projects 945,945
3,Houston,2129784,29.758938,-95.367697,Houston <br>Number of Projects 879,879
2,Chicago,2705627,41.875555,-87.624421,Chicago <br>Number of Projects 865,865
0,New York,8287238,40.730599,-73.986581,New York <br>Number of Projects 816,816

In [134]:

df['text'] = df['name'] + '<br>Number of Projects ' + (df['number of projects']).astype(str)
limits = [(0,5),(6,12),(13,20),(21,30),(31,120)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","rgb(255,220,0)"]
cities = []
scale = 15

for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    city = dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        sizemode = 'diameter',
        marker = dict( 
            size = df_sub['number of projects']/scale, 
            color = colors[i],
            line = dict(width = 2,color = 'black')
        ),
        name = 'LEED Projects: {0} - {1}'.format(df.iloc[lim[0],5],
                                            df.iloc[lim[1],5]))
    cities.append(city)

layout = dict(
        title = 'Total LEED Certified Projects<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',       
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"           
        ),  
    )
    
fig = dict( data=cities, layout=layout )
py.iplot( fig, validate=False, filename='d3-bubble-map-leed' )

In [132]:
df.iloc[1,5]

945

Do one with all of them, then do one population adjusted