In [2]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import preprocessing

In [3]:
df_2009 = pd.read_pickle("2009_full_score_projects_final.pkl")

In [4]:
df_2009.columns

Index(['ssc1', 'ssc2', 'ssc3', 'ssc4_1', 'ssc4_2', 'ssc4_3', 'ssc4_4',
       'ssc5_1', 'ssc5_2', 'ssc6_1', 'ssc6_2', 'ssc7_1', 'ssc7_2', 'ssc8',
       'wec1', 'wec2', 'wec3', 'eac1', 'eac2', 'eac3', 'eac4', 'eac5', 'eac6',
       'mrc1_1', 'mrc1_2', 'mrc2', 'mrc3', 'mrc4', 'mrc5', 'mrc6', 'mrc7',
       'eqc1', 'eqc2', 'eqc3_1', 'eqc3_2', 'eqc4_1', 'eqc4_2', 'eqc4_3',
       'eqc4_4', 'eqc5', 'eqc6_1', 'eqc6_2', 'eqc7_1', 'eqc7_2', 'eqc8_1',
       'eqc8_2', 'idc1', 'idc2', 'extra1', 'extra2', 'extra3', 'extra4',
       'is_confidential', 'name', 'street', 'city', 'zip_code', 'country',
       'leed_version', 'points_achieved', 'certification_level',
       'certification_date', 'owner_types', 'gross_square_foot',
       'total_property_area', 'project_types', 'registration_date'],
      dtype='object')

In [36]:
df_2009.eac1

project_id
1000000143     3
1000000174    19
1000000194     6
1000000199    11
1000000222    19
1000000224     8
1000000244     5
1000000262    19
1000000292     3
1000000301    18
1000000322    18
1000000353    10
1000000386    19
1000000387    19
1000000388    16
1000000394     8
1000000422    10
1000000451    16
1000000457    19
1000000477     7
1000000497     4
1000000507     7
1000000517    19
1000000558    10
1000000579     7
1000000651     5
1000000677     9
1000000680     3
1000000707     7
1000000708     9
              ..
1000035785    15
1000035828    13
1000035960     4
1000036206    14
1000036464    19
1000036689     8
1000036763    18
1000036775     9
1000036901     5
1000037001    16
1000037022    14
1000037031     9
1000037095     8
1000037306     3
1000037316     6
1000037537    13
1000037617    11
1000037911     4
1000037921    18
1000037954    10
1000038189     7
1000038285    15
1000038452     8
1000038887     2
1000038888     6
1000039133    18
1000039584    19
1000040528    17
1000040797     7
1000040800     2
Name: eac1, dtype: int64

In [7]:
df_for_regression = df_2009[['eac1', 'eac2', 'points_achieved', 'certification_level', 'owner_types', 'gross_square_foot', 'total_property_area']]

In [8]:
df_for_regression.head()

,eac1,eac2,points_achieved,certification_level,owner_types,gross_square_foot,total_property_area
project_id,,,,,,,
1000000143,3,0,44,Certified,Government Use: State,86580,53863
1000000174,19,0,65,Gold,"Educational: University, Private",11806,66000
1000000194,6,0,44,Certified,Corporate: Privately Held,3472,10905
1000000199,11,5,51,Silver,"Government Use: Local, City",48732,555823
1000000222,19,0,70,Gold,"Educational: University, Public",212777,108563

In [9]:
owner_dummies = pd.get_dummies(df_for_regression['owner_types'])

In [10]:
owner_dummies.head()

,Business Improvement District,Community Development Corporation o,Corporate: Privately Held,Corporate: Publicly Traded,"Educational: College, Private","Educational: College, Public","Educational: Community College, Pri","Educational: Community College, Pub",Educational: Early Childhood Educat,"Educational: K-12 School, Private",...,Investor: Equity Fund,Investor: Individual/Family,Investor: Insurance Company,Investor: Investment Manager,"Investor: REIT, Publicly traded","Investor: REIT,Non-traded",Investor: ROEC,Main Street Organization,Non-Profit (that do not fit into ot,Religious
project_id,,,,,,,,,,,,,,,,,,,,,
1000000143,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000194,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_for_regression = df_for_regression.join(owner_dummies)

In [14]:
df_for_regression.columns

Index(['eac1', 'eac2', 'points_achieved', 'certification_level', 'owner_types',
       'gross_square_foot', 'total_property_area',
       'Business Improvement District', 'Community Development Corporation o',
       'Corporate: Privately Held', 'Corporate: Publicly Traded',
       'Educational: College, Private', 'Educational: College, Public',
       'Educational: Community College, Pri',
       'Educational: Community College, Pub',
       'Educational: Early Childhood Educat',
       'Educational: K-12 School, Private', 'Educational: K-12 School, Public',
       'Educational: University, Private', 'Educational: University, Public',
       'Government Use: Federal', 'Government Use: Local, City',
       'Government Use: Local, County', 'Government Use: Local, Public Housi',
       'Government Use: Other (utility, air', 'Government Use: State',
       'Investor: Bank', 'Investor: Endowment', 'Investor: Equity Fund',
       'Investor: Individual/Family', 'Investor: Insurance Company',
       'Investor: Investment Manager', 'Investor: REIT, Publicly traded',
       'Investor: REIT,Non-traded', 'Investor: ROEC',
       'Main Street Organization', 'Non-Profit (that do not fit into ot',
       'Religious'],
      dtype='object')

In [15]:
y_for_eac1 = df_for_regression['eac1']

In [19]:
y_for_eac1.head()

project_id
1000000143     3
1000000174    19
1000000194     6
1000000199    11
1000000222    19
Name: eac1, dtype: int64

In [20]:
y_for_eac2 = df_for_regression['eac2']

In [21]:
y_for_score = df_for_regression['points_achieved']

In [22]:
y_for_cert_level = df_for_regression['certification_level']

In [38]:
x_for_regression = df_for_regression[['eac1', 'eac2', 'gross_square_foot', 'total_property_area',
       'Business Improvement District', 'Community Development Corporation o',
       'Corporate: Privately Held', 'Corporate: Publicly Traded',
       'Educational: College, Private', 'Educational: College, Public',
       'Educational: Community College, Pri',
       'Educational: Community College, Pub',
       'Educational: Early Childhood Educat',
       'Educational: K-12 School, Private', 'Educational: K-12 School, Public',
       'Educational: University, Private', 'Educational: University, Public',
       'Government Use: Federal', 'Government Use: Local, City',
       'Government Use: Local, County', 'Government Use: Local, Public Housi',
       'Government Use: Other (utility, air', 'Government Use: State',
       'Investor: Bank', 'Investor: Endowment', 'Investor: Equity Fund',
       'Investor: Individual/Family', 'Investor: Insurance Company',
       'Investor: Investment Manager', 'Investor: REIT, Publicly traded',
       'Investor: REIT,Non-traded', 'Investor: ROEC',
       'Main Street Organization', 'Non-Profit (that do not fit into ot',
       'Religious']]

In [39]:
x_for_regression.head()

,eac1,eac2,gross_square_foot,total_property_area,Business Improvement District,Community Development Corporation o,Corporate: Privately Held,Corporate: Publicly Traded,"Educational: College, Private","Educational: College, Public",...,Investor: Equity Fund,Investor: Individual/Family,Investor: Insurance Company,Investor: Investment Manager,"Investor: REIT, Publicly traded","Investor: REIT,Non-traded",Investor: ROEC,Main Street Organization,Non-Profit (that do not fit into ot,Religious
project_id,,,,,,,,,,,,,,,,,,,,,
1000000143,3,0,86580,53863,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000174,19,0,11806,66000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000194,6,0,3472,10905,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000199,11,5,48732,555823,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000000222,19,0,212777,108563,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

In [26]:
%matplotlib inline

In [27]:
regr = linear_model.LinearRegression()
regr.fit(x_for_regression, y_for_eac1)
score = regr.score(x_for_regression, y_for_eac1)
print(score)

0.0588713729707

In [28]:
regr = linear_model.LinearRegression()
regr.fit(x_for_regression, y_for_eac2)
score = regr.score(x_for_regression, y_for_eac2)
print(score)

0.0760808715714

In [42]:
regr = linear_model.LinearRegression()
regr.fit(x_for_regression, y_for_score)
score = regr.score(x_for_regression, y_for_score)
print(score)

0.490494665622

In [43]:
x_small_for_regression = x_for_regression[['gross_square_foot', 'total_property_area']]

In [44]:
x_small_for_regression.head()

            gross_square_foot  total_property_area
project_id
1000000143              86580                53863
1000000174              11806                66000
1000000194               3472                10905
1000000199              48732               555823
1000000222             212777               108563

In [45]:
regr = linear_model.LinearRegression()
regr.fit(x_small_for_regression, y_for_eac1)
score = regr.score(x_small_for_regression, y_for_eac1)
print(score)

0.00313761978456

In [46]:
regr = linear_model.LogisticRegression()
regr.fit(x_for_regression, y_for_cert_level)
score = regr.score(x_for_regression, y_for_cert_level)
print(score)

0.385445821671